body {
  background-image: url('../images/stupa.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 2rem 0 2rem;
}

.form-label,
.form-check-label,
.registration-form-title,
.form-paragraph {
  color: white;
}

.registration-form-title {
  font-weight: bold;
}

.form-login-link {
  color: wheat;
}
